{
  "extends": "standard",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": false,
      "jsx": false
    }
  },
  "rules": {
    "indent": [2, "tab", {SwitchCase: 1}],
    "arrow-parens": [2, "as-needed"]
  }
}
